@import '../config/variables';
@import '../config/mixins';

body {
    @include flex();
    min-height: 100vh;
    background-color: $bg-color;
}
main{
        @include flex();
    .component{
        position: absolute;
        width: 80vw;
        background-color:$text-color;
        color: $contentbox-color;
        text-align: center;
        padding: 3rem;
        .src{
            
            .closeModal{
                position: absolute;
                right: 10px;
                top: 0;
                margin: 1rem;
                font-size: 2rem;
                cursor: pointer;
            }
        }
        img{
            width:150px;
            filter: invert(100%);
            margin: 0 auto;
        }
        .content{
            .divTitle{
                text-align: center;

                h1{
                    margin-top: -20px;
                    font-size: 4rem;
                    font-family: bebas neue;
                }
            }
            .divDescription{
                text-align: center;
                p{
                    margin-top: -50px;
                    font-family: jetBrains mono
                }
            }
            .btnModal{
                padding: 1rem 3rem;
                background-color: $contentbox-color;
                color: $text-color;
                border: none;
                margin: 0.3rem;
                cursor:pointer;
            }.btnModal:hover{
                background-color: $terciary-color;
                color: $contentbox-color;
            }
        }
    }
.container {
    .content {
        @include flex();
        flex-direction: column;
        padding: 2rem;
        background-color: $contentbox-color;
        color: $text-color;

        .user {
            margin: 1rem 0;
            i {
                font-size: 5rem;
                padding: 1rem;
                border-radius: 50%;
                width: 85px;
                height: 85px;
                text-align: center;
            }
        }

        .title {
            text-align: center;
            font-size: 10px;
            font-family: jetbrains mono;
        }

        .inputs {
            @include flex();
            flex-direction: column;

            fieldset {
                margin: 0.3rem;
                font-family: poppins;
            }

            input {
                margin: 0.3rem;
                border: none;
                background-color: $contentbox-color;
            }

            input:focus {
                outline: none;
            }
        }

        .buttons {
            button {
                padding: 1rem 5rem;
                border: none;
                font-family: jetbrains mono;
                margin: 1rem 0;
                color: $contentbox-color;
                background-color: $buttonsAndSpans-color;
            }button:hover{
                background-color: $bg-color;
                color: $text-color;
            }
        }

    }
}
}