@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap');

$bg-color:hsl(225, 10%, 94%);
$contentbox-color:hsl(225, 100%, 98%);
$buttonsAndSpans-color:hsl(255, 75%, 52%);
$text-color:hsl(223, 47%, 23%);
$terciary-color:hsl(224, 23%, 55%);

