/*
$bg-color:#1c1c1c;
$destac-color:hsl(30, 70%, 50%);
$efect-color:hsl(62, 70%, 50%);
$text-color:aliceblue;
$util-color:hsl(53, 70%, 69%);
$damage:hsl(0, 70%, 30%);
//$text-color:#FFEE63;
*/
/*
$primary-color:#523906;
$secondary-color: #535204;
$terciary-color: #CDB30C;
$fourth-color: aliceblue;
*/

$primary-color:#523906;
$secondary-color: #535204;
$terciary-color: #CDB30C;

$mainColor: rgb(141, 24, 24);
$secondaryColor:rgb(171, 24, 24);
$fourth-color: rgb(248, 248, 248);

$grayDefault:rgb(210, 208, 208);
$gray1:rgb(188, 184, 184);
$dark : #252222;
$gray-dark : #423f3f54;