@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(225, 10%, 94%);
  min-width: -moz-fit-content;
  min-width: fit-content;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: hsl(225, 100%, 98%);
}
header .user {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .user p {
  margin-right: 10px;
}
header .user i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.navbar {
  background-color: hsl(223, 47%, 23%);
  color: hsl(225, 100%, 98%);
}
.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
}
.navbar ul li {
  list-style: none;
  margin: 0 1rem;
  padding: 1rem;
  font-size: 15px;
  font-family: outfit;
  font-weight: bold;
  transition: 1s;
  cursor: pointer;
}
.navbar ul li:hover {
  background-color: hsl(225, 100%, 98%);
  color: hsl(223, 47%, 23%);
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main .component {
  position: absolute;
  width: 80vw;
  background-color: hsl(223, 47%, 23%);
  color: hsl(225, 100%, 98%);
  text-align: center;
  padding: 3.7rem;
}
main .component .src .closeModal {
  position: absolute;
  right: 10px;
  top: 0;
  margin: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
main .component img {
  width: 150px;
  filter: invert(100%);
  margin: 0 auto;
}
main .component .content .divTitle {
  text-align: center;
}
main .component .content .divTitle h1 {
  font-size: 4rem;
  font-family: bebas neue;
}
main .component .content .divDescription {
  text-align: center;
}
main .component .content .divDescription p {
  font-family: jetBrains mono;
}
main .component .content .btnModal {
  padding: 1rem 3rem;
  background-color: hsl(225, 100%, 98%);
  color: hsl(223, 47%, 23%);
  border: none;
  margin: 2rem 0;
  cursor: pointer;
}
main .component .content .btnModal:hover {
  background-color: hsl(224, 23%, 55%);
  color: hsl(225, 100%, 98%);
}
main .counter {
  margin: 3rem 0;
  font-family: outfit;
  font-weight: bold;
}
main .counter p {
  text-align: center;
}
main .counter .date,
main .counter .clock {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .counter .date p,
main .counter .clock p {
  font-size: 9rem;
}
main .counter .date p {
  font-size: 4rem;
}
main .buttons {
  text-align: center;
}
main .buttons button {
  padding: 1rem;
  border: none;
  background-color: hsl(223, 47%, 23%);
  color: hsl(225, 100%, 98%);
}
main .buttons button:hover {
  background-color: hsl(224, 23%, 55%);
}

@media only screen and (max-width: 700px) {
  main .component {
    min-width: -moz-max-content;
    min-width: max-content;
  }
}/*# sourceMappingURL=style.css.map */