@import '../config/variables';
@import '../config/mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    min-width: fit-content
}

header {
    @include flex();
    justify-content: space-between;
    background-color: $contentbox-color;

    .user {
        @include flex();

        p {
            margin-right: 10px;
        }

        i {
            font-size: 1.5rem;
            margin-right: 10px;
        }
    }
}

.navbar {
    background-color: $text-color;
    color: $contentbox-color;

    ul {
        @include flex;
        justify-content: flex-start;

        li {
            list-style: none;
            margin: 0 1rem;
            padding: 1rem;
            font-size: 15px;
            font-family: outfit;
            font-weight: bold;
            transition: 1s;
            cursor: pointer;
        }

        li:hover {
            background-color: $contentbox-color;
            color: $text-color;
        }
    }
}

main {
    @include flex;
    flex-direction: column;

    .component {
        position: absolute;
        width: 80vw;
        background-color: $text-color;
        color: $contentbox-color;
        text-align: center;
        padding: 3.7rem;

        .src {

            .closeModal {
                position: absolute;
                right: 10px;
                top: 0;
                margin: 1rem;
                font-size: 2rem;
                cursor: pointer;
            }
        }

        img {
            width: 150px;
            filter: invert(100%);
            margin: 0 auto;
        }

        .content {
            .divTitle {
                text-align: center;

                h1 {
                    font-size: 4rem;
                    font-family: bebas neue;
                }
            }

            .divDescription {
                text-align: center;

                p {
                    font-family: jetBrains mono
                }
            }

            .btnModal {
                padding: 1rem 3rem;
                background-color: $contentbox-color;
                color: $text-color;
                border: none;
                margin: 2rem 0;
                cursor: pointer;
            }

            .btnModal:hover {
                background-color: $terciary-color;
                color: $contentbox-color;
            }
        }
    }

    .counter {
        margin: 3rem 0;
        font-family: outfit;
        font-weight: bold;

        p {
            text-align: center
        }

        .date,
        .clock {
            @include flex;

            p {
                font-size: 9rem;
            }
        }

        .date {
            p {
                font-size: 4rem;
            }
        }
    }

    .buttons {
        text-align: center;

        button {
            padding: 1rem;
            border: none;
            background-color: $text-color;
            color: $contentbox-color;
        }

        button:hover {
            background-color: $terciary-color;
        }
    }
}

.historic{
    opacity: 0;
    table{
        position: absolute;
        top: 20%;
        width: 100%;
        font-size: 2.5rem;
        font-family: outfit;
        font-weight: bold;
        text-align: center;
        background-color: $contentbox-color;
    }
}
@media only screen and (max-width:700px) {
    main {
        .component {
            min-width: max-content;
        }
    }
}